<div class="brands-slider__wrapper swiper-wrapper">
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/lenovo.svg" alt="lenovo" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/samsung.svg" alt="samsung" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/apple.svg" alt="apple" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/acer.svg" alt="acer" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/viewsonic.svg" alt="viewsonic.svg" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/bosch.svg" alt="bosch.svg" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/sony.svg" alt="sony.svg" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/HP.svg" alt="HP.svg" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/lenovo.svg" alt="lenovo" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/apple.svg" alt="apple.svg" />
      <span></span>
    </div>
  </div>
  <div class="brands-slider__slide swiper-slide">
    <div class="brands-slider__item">
      <img src="../../../assets/icons/acer.svg" alt="acer" />
      <span></span>
    </div>
  </div>
</div>
