@mixin flex($justify: unset, $align: unset) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin slider-item-border(
  $bg-color: unset,
  $border: unset,
  $border-radius: unset
) {
  background-color: $bg-color;
  border: $border;
  border-radius: $border-radius;
}

//   @mixin audioUrl($url) {
//     background-image: url($url);
//     background-repeat: no-repeat;
//     background-size: contain;
//   }

//   @mixin gradient($color1, $color2, $color3) {
//     background: linear-gradient(90deg, $color1 0%, $color2 45%, $color3 100%);
//   }
