@mixin flex($justify: unset, $align: unset) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin slider-item-border(
  $bg-color: unset,
  $border: unset,
  $border-radius: unset
) {
  background-color: $bg-color;
  border: $border;
  border-radius: $border-radius;
}

@mixin card-titles-lable($content: "", $top: unset, $left: unset) {
  font-family: "TT Lakes Medium";
  font-weight: normal;
  position: absolute;
  content: $content;
  top: $top;
  left: $left;
  color: $card-lable-color;
}

//   @mixin gradient($color1, $color2, $color3) {
//     background: linear-gradient(90deg, $color1 0%, $color2 45%, $color3 100%);
//   }
