$text-color: #1b1c21;
$text-highlight: #ff3e79;
$text-gray: #7e7e82;
$bg-main-color: #f8f8f8;
$button-color: #ff3e79;
$bg-header: #fff;

$border-color: #eaeaea;

$title-highlight-color: #41f6d7;

$nav-active: #b8ffec;
$li-hover: #b8ffec;
$bg-li: #fff;

$slider-bullets: #979797;

$highlight-line: #d9fff5;
