$text-color: #1b1c21;
$bg-main-color: #f8f8f8;
$button-color: #ff3e79;
$bg-header: #fff;
$header-dividers: #eaeaea;

$title-highlight-color: #41f6d7;

$nav-color: #7e7e82;
$nav-active: #b8ffec;
$li-hover: #b8ffec;
$bg-li: #fff;

$services-title-color: #7e7e82;

$slider-border: #eaeaea;
$slider-bullets: #979797;
