<div class="prices-slider__wrapper swiper-wrapper">
  <div class="prices-slider__slide">
    <div class="prices-slider__item card hidden">
      <div class="card__header">Ремонтные услуги</div>
      <div class="card__body">Цена</div>
      <div class="card__footer">Срок</div>
    </div>
  </div>
  <div class="prices-slider__slide swiper-slide">
    <div class="prices-slider__item card">
      <div class="card__header">
        <div class="card__name">
          Тестирование с выдачей технического заключения
        </div>
      </div>
      <div class="card__body">
        <div class="card__price">1000 &#8381;</div>
      </div>
      <div class="card__footer">
        <div class="card__time">30-120 мин</div>
        <button class="card__button button">
          Заказать
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <div class="prices-slider__slide swiper-slide">
    <div class="prices-slider__item card">
      <div class="card__header">
        <div class="card__name">Диагностика</div>
      </div>
      <div class="card__body">
        <div class="card__price">Бесплатно</div>
      </div>
      <div class="card__footer">
        <div class="card__time">30 мин</div>
        <button class="card__button button">
          Заказать
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <div class="prices-slider__slide swiper-slide">
    <div class="prices-slider__item card">
      <div class="card__header">
        <div class="card__name">Замена полифонического динамика</div>
      </div>
      <div class="card__body">
        <div class="card__price">1000 &#8381;</div>
      </div>
      <div class="card__footer">
        <div class="card__time">30-120 мин</div>
        <button class="card__button button">
          Заказать
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <div class="prices-slider__slide swiper-slide">
    <div class="prices-slider__item card">
      <div class="card__header">
        <div class="card__name">
          Тестирование с выдачей технического заключения
        </div>
      </div>
      <div class="card__body">
        <div class="card__price">1000 &#8381;</div>
      </div>
      <div class="card__footer">
        <div class="card__time">30-120 мин</div>
        <button class="card__button button">
          Заказать
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <div class="prices-slider__slide swiper-slide">
    <div class="prices-slider__item card">
      <div class="card__header">
        <div class="card__name">Замена программного обеспечения</div>
      </div>
      <div class="card__body">
        <div class="card__price">1000 &#8381;</div>
      </div>
      <div class="card__footer">
        <div class="card__time">30-120 мин</div>
        <button class="card__button button">
          Заказать
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>
