.subtitle {
  @include flex($justify: space-between);

  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 40px;
    width: 4px;
    background-color: $title-highlight-color;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  &__text {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    line-height: 143.2%;
  }

  &__buttons {
    display: none;
    @media (min-width: 1120px) {
      display: flex;
      button {
        margin-right: 32px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__button {
    span {
      @media (min-width: 1120px) {
        display: inline-block;
        margin-right: 8px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
