.footer {
  width: 100%;
  min-height: 50px;
  padding: 16px 0 20px;
  border-top: 1px solid $highlight-line;
  font-family: "TT Lakes Medium";
  font-size: 14px;
  line-height: 114%;
  text-align: center;
  color: $text-gray;
  opacity: 0.72;

  &__wrapper {
    height: 100%;
    @include flex($justify: center, $align: center);

    flex-direction: column;
  }

  &__year {
    @include flex($justify: center, $align: center);
    flex-direction: column;
    margin-bottom: 16px;
  }
  &__conf {
    margin-bottom: 16px;
  }
}
