<div class="types-slider__wrapper swiper-wrapper">
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт ноутбуков</div>
      <span></span>
    </div>
  </div>
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт планшетов</div>
      <span></span>
    </div>
  </div>
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт ПК</div>
      <span></span>
    </div>
  </div>
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт мониторов</div>
      <span></span>
    </div>
  </div>
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт телефонов</div>
      <span></span>
    </div>
  </div>
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт ноутбуков</div>
      <span></span>
    </div>
  </div>
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт планшетов</div>
      <span></span>
    </div>
  </div>
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт ПК</div>
      <span></span>
    </div>
  </div>
  <div class="types-slider__slide swiper-slide">
    <div class="types-slider__item">
      <div>Ремонт мониторов</div>
      <span></span>
    </div>
  </div>
</div>
