<section class="info">
  <div class="container">
    <div class="info__description description">
      <div class="description__item">
        <div class="description__text">
          <p>
            Мы являемся авторизованным сервисным центром по ремонту техники
            Dell. Только у нас вы можете отремонтировать свой ноутбук Dell с
            официальной гарантией производителя.
          </p>
          <p>
            Мы успешно работаем с 1992 года и заслужили репутацию надежного
            партнера, что подтверждает большое количество постоянных клиентов.
            Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою
            очередь, советуют нас родным и близким.
          </p>
        </div>
       
    </div>
    <div class="description__image"></div>
  </div>
  <div class="cps-image"></div>
</section>
